/* General Styling */

li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
}

.notVisible {
  display: none;
}

button {
  border: none;
  background-color: #45e9f5;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  body {
    flex-direction: row;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  width: 100%;
}

.page-image,
.homeImage {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

